.sidenav-container {
  height: 100%;
}

mat-sidenav {
  width: 250px;
}

mat-sidenav-content {
  padding: 16px;
}

.content {
  padding: 16px;
}

.active-link {
  background-color: #d1eaff; /* Change to your preferred color */
  color: #000; /* Adjust text color if necessary */
}
