<mat-toolbar color="tertiary">
  <button mat-icon-button>LOGO</button>
  <span class="spacer"></span>
  <!-- Show Login and Register buttons if not authenticated -->
  <ng-container *ngIf="!isAuthenticated">
    <button mat-button [routerLink]="'/login'">Login</button>
    <button mat-button [routerLink]="'/register'">Register</button>
  </ng-container>
  <!-- Show Dashboard and Logout buttons if authenticated -->
  <ng-container *ngIf="isAuthenticated">
    <button mat-button [routerLink]="'/dashboard'">Dashboard</button>
    <button mat-button (click)="logout()">Logout</button>
  </ng-container>
</mat-toolbar>
